<!DOCTYPE html>
<html>
  <head>
    <title>Bien Reviews | Restaurant reviews from picky eaters.</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1><%= link_to "Bien - Restaurant Reviews", root_path %></h1>
      <h2>Restaurant reviews from picky eaters for picky eaters.</h2>

      <p>Just like the best restaurants curate top of the line ingredients for meal experiences, we've curated top picky eating foodies to review the latest Bien restaurant experiences.</p>

      <nav>
        <%= link_to "Add a review", new_review_path %>
      </nav>

    </header>
      <%= yield %>

    <footer>
      <p>Copyright blah blah blah - 2019</p>
    </footer>
  </body>
</html>
